<!-- Footer -->
<div class="footer-basic">
    <footer>
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-octocat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Homepage</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="#contatti">Assistenza clienti</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="#">Chi siamo</a></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Glitch © 2019</p>
    </footer>
</div>

</body>
</html>