@charset "ISO-8859-1";
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  background: url("sfondo.jpg");
  background-color: #184e8e;
}


.navbar{
  background: linear-gradient(135deg, #1e2833, #871b89, #003d6b);
  background-color: #184e8e;
  padding-bottom: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

.navbar .form-inline .search-field {
  display: inline-block;
  width: 80%;
  background: none;
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  color: #ccc;
  box-shadow: none;
  color: inherit;
  transition: border-bottom-color 0.3s;
}

#img-catalogo {
  margin: 3%;
  max-width: 100%;
  width: 300px;
  height: 200px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.h1{
	color: #000000;
}

/*Stile del form di registrazione con immagine*/
.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(https://i.pinimg.com/originals/89/42/c4/8942c418616e2df66d25d5269141cc51.gif);
  background-size: inherit;
}




