<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1"
	xmlns="http://xmlns.jcp.org/xml/ns/persistence"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence 
	http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
	<persistence-unit name="GLITCH_PU" transaction-type="JTA">
		<provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
		<jta-data-source>java:global/jdbc/GLITCH_DS</jta-data-source>
		<class>src.model.bean.Utente</class>
		<class>src.model.bean.Prodotto</class>
		<class>src.model.bean.Videogioco</class>
		<class>src.model.bean.Console</class>
		<class>src.model.bean.Carrello</class>
		<class>src.model.bean.ProdottoQuantita</class>
		<class>src.model.bean.Offerta</class>
		<class>src.model.bean.Ordine</class>
		<class>src.model.bean.CartaDiCredito</class>
		<class>src.model.bean.Richiesta</class>
		<exclude-unlisted-classes>true</exclude-unlisted-classes>
		<properties>
			<property name="javax.persistence.jdbc.driver"
				value="com.mysql.cj.jdbc.Driver" />
			<property name="javax.persistence.jdbc.url"
				value="jdbc:mysql://localhost:3306/glitch" />
			<property name="javax.persistence.jdbc.user" value="root" />
			<property name="javax.persistence.jdbc.password"
				value="Nandonapoli98!" />
			<property name="hibernate.show_sql" value="true" />
			<property name="hibernate.dialect"
				value="org.hibernate.dialect.MySQL5Dialect" />
			<property name="hibernate.connection.autocommit"
				value="true" />
			<property name="hibernate.enable_lazy_load_no_trans"
				value="true" />
		</properties>
	</persistence-unit>
</persistence>